section {
    padding: 50px 10% 0px;
}
.main {
    display: block;
}

.fondo--claro {
    background-color: var(--principal);
}

.navBar {
    display: block;
    background-color: var(--negro);
    padding: 10px 10%;
    position: sticky;
    top:0px;
    border-radius: 0px;
}

.navBar__menu-hamburguesa {
    display: none;
}

.navBar__enlaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.navBar__enlaces--desplegable {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: end;
}

.navBar__item {
    color: var(--blanco-neutro);
    text-decoration: none;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
}

.fotos__elemento {
    width: 300px;
}

.fotos__imagen {
    width: 100%;
    border-radius: 5px;
}

.fotos__texto {
    display: inline-block;
    position: relative;
    bottom: 50px;
    background-color: var(--blanco-neutro);
    color: var(--negro);
    padding: 5px 10px;
    border-radius: 5px;
}

.fotos__fecha {
    color: var(--principal)
}

@media screen and (max-width: 600px) {

    h2 {
        display: inline;
        position: sticky;
        top: 10px;
    }
    .header {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
    }

    .header__figura {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .header__imagen {
        width: 100%;
    }

    .titulo {
        padding: 3%;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .navBar__menu-hamburguesa {
        display: block;
        color: var(--blanco-neutro);
    }

    .navBar__enlaces {
        display: none;
        margin-top: 20px;
    }

    .navBar__enlaces--desplegable {
        display: flex;
        flex-direction: column;
        text-align: right;
        align-items: end;
    }
}