:root {
    --principal: #08415C;
    --principal-oscuro: #123343;
    --secundario: #F66B0E;
    --blanco-neutro: #EEE5E9;
    --blanco-oscuro: #6B818C;
    --negro: #262626;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: url('fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: var(--principal-oscuro);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Averia Serif Libre";
}

hr {
    border: 2px solid var(--secundario);
}

/*--- NAV ---*/

.navBar {
    display: flex;
    align-items: center;
    background-color: var(--principal-oscuro);
    padding: 0 5%;
    position: sticky;
    top: 0;
}

.navBar__logo {
    height: 50px;
    transition: transform 0.3s ease;
}

.enfasis:hover {
    transform: scale(1.3);
}

.navBar__menu-hamburguesa {
    display: none;
}

.navBar__menu {
    flex-grow: 1;
    text-align: right;
}

.navBar__enlaces, .navBar__enlaces--desplegable {
    display: flex;
    gap: 5%;
}

.navBar__enlaces {
    justify-content: end;
    vertical-align: baseline;
}

.navBar__enlaces--desplegable {
    flex-direction: column;
    text-align: right;
    align-items: end;
}

.navBar__item {
    color: var(--blanco-neutro);
    text-decoration: none;
}

/*--- HEADER ---*/
.header {
    padding: 0 10%;
    background-color: var(--blanco-neutro);
    color: var(--negro);
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    opacity: 0;
    transition: opacity 1.5s ease-out;
}

.contenedor__visible {
    opacity: 1;
}

.header__imagen {
    float: right;
    max-height: 300px;
    height: 100%;
    filter: drop-shadow(5px 5px 10px var(--blanco-oscuro));
}

.header__texto {
    padding: 0 5%;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.header__parrafo, .header__contacto {
    padding-top: 2%;
}

.header__contacto {
    display: flex;
    align-items: center;
    gap: 5%;
}

.contacto__elemento {
    color: var(--principal);
    transition: transform 0.3s ease;
}

.fondo--naranja {
    display: inline;
    padding: 2px;
    background-color: var(--secundario);
}

/*--- MAIN ---*/
.fondo--patron-azul, .fondo--azul {
    padding: 30px 10%;
    color: white;
}

.fondo--patron-azul {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='23.07' height='40' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsl(200, 13%, 48%)'/><path d='M17.62 0l-6.07 10.5m2.74 4.76L8.22 4.75m-5.48 0h12.13M.01 0h23.07M6.07 20L0 9.5m2.74-4.75l-6.07 10.5m-5.48 0H3.33m8.2 4.75L0 .02-11.54 20m40.68 0L23.07 9.5m2.74-4.75l-6.06 10.5m-5.49 0H26.4M34.6 20L23.08.02 11.53 20m-5.46 0L0 30.51m2.74 4.75l-6.07-10.5m-5.48 0H3.33m8.2-4.75L0 40l-11.54-19.98zM17.6 40l-6.06-10.5m2.74-4.76L8.2 35.25m-5.48 0h12.13M0 40h23.07L11.54 20.01m17.6 0l-6.07 10.5m2.74 4.75l-6.06-10.5m-5.49 0H26.4M11.53 20h23.08L23.07 40'  stroke-linecap='square' stroke-width='3.5' stroke='hsla(199, 84%, 20%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-color: var(--principal);
}

.tarjeta--tres {
    width: 45%;
    padding: 2%;
    background-color: var(--principal-oscuro);
    border-radius: 5px;
}

/*--- MAIN exp laboral ---*/
.exp--laboral {
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.exp--laboral__tarjetas {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.exp--laboral__empresa {
    display: inline-block;
    margin-bottom: 20px;
}

.exp--laboral__tiempo {
    text-align: end;
}

.parrafo--opaco {
    color: var(--blanco-oscuro);
}

/*--- MAIN educacion ---*/

.d-oculto {
    display: none;
}

.d-mostrar {
    display: block;
}

.diploma__img {
    width: 100%;
    border-radius: 5px;
}

.edu-formal {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.edu-formal__tarjetas {
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}

.tarjeta--uno {
    width: 90%;
    padding: 2%;
    background-color: var(--principal-oscuro);
    border-radius: 5px;
}

.edu-formal__linea-tiempo {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.linea-vertical {
    border-left: 2px solid var(--secundario);
    height: 80vh;
    margin: 5%;
}

.certificado__info {
    position: relative;
    padding: 10px;
}

.certificado__detalles {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--negro);
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.3s linear, visibility 0.5s linear;
}

.certificado__info:hover .certificado__detalles {
    opacity: 1;
    visibility: visible;
}

/*--- Proyectos ---*/
.proyectos {
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--principal-oscuro);
    color: var(--blanco-neutro);
}

.carrousel {
    margin: 0 10%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.carrousel__scroll {
    display: flex;
    gap: 8%;
    height: 500px;
}

.carrousel__tarjeta {
    background-color: var(--negro);
    border-radius: 10px;
    transition: background-color 0.3s linear;
}

.carrousel__tarjeta:hover {
    background-color: var(--blanco-oscuro);
}

.carrousel__tarjeta:hover .carrousel__texto {
    color: black;
}



.carrousel__tarjeta:hover .carrousel__titulo {
    color: var(--principal);
}

.carrousel__img {
    width: 500px;
    max-height: 400px;
    border-radius: 10px 10px 0 0;
}

.carrousel__texto {
    margin: 5%;
}

.carrousel__titulo {
    color: var(--secundario);
}

.carrousel-icon {
    text-decoration: none;
    margin-right: 5%;
}

/*--- FOOTER ---*/
.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 3% 0;
}

.footer__enlace {
    color: var(--blanco-oscuro);
}

.footer__enlace:hover {
    color: var(--blanco-neutro);
}

.no--link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.texto--naranja:hover {
    color: var(--secundario);
}

/*--- Media Queries ---*/
@media screen and (max-width: 1100px) {
    .exp--laboral__tarjetas, .tarjeta--tres {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .educacion {
        padding-top: 10%;
    }

    .principal {
        padding: 10%;
    }

    .footer__label {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .header {
        flex-direction: column;
        gap: 20px;
    }

    .navBar__menu-hamburguesa {
        display: block;
        color: var(--blanco-neutro);
    }

    .navBar__enlaces {
        display: none;
    }

    .navBar__enlaces--desplegable {
        display: flex;
        flex-direction: column;
        text-align: right;
        align-items: end;
    }

    .certificado__detalles {
        opacity: 1;
        visibility: visible;
        position: relative;
        background: none;
        padding: 0;
        color: var(--secundario);
        align-items: end;
    }

    .certificado__institucion, .certificado__figura {
        display: none;
    }

    .carrousel__tarjeta {
        max-width: 100%;
    }

    .carrousel__img {
        width: 310px;
    }
}

@media screen and (max-width: 710px) {
    .header__parrafo {
        display: none;
    }
}

@media screen and (max-height: 390px) {
    .header__parrafo {
        display: none;
    }

    .certificado__detalles {
        opacity: 1;
        visibility: visible;
        position: relative;
        background: none;
        padding: 0;
        color: var(--secundario);
        align-items: end;
    }

    .certificado__institucion, .certificado__figura {
        display: none;
    }

    .carrousel__img {
        width: 400px;
        max-height: 400px;
        border-radius: 10px 10px 0 0;
    }
}