:root {
    --principal: #08415C;
    --principal-oscuro: #123343;
    --secundario: #F66B0E;
    --blanco-neutro: #EEE5E9;
    --blanco-oscuro: #6B818C;
    --negro: #262626;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: url('fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Averia Serif Libre";
}

hr {
    border: 2px solid var(--secundario);
}

/*--- NAV ---*/

.navBar {
    display: none;
    background-color: var(--negro);
    padding: 10px 10%;
    position: sticky;
    top: 0px;
    border-radius: 0px;
}

.navBar__menu-hamburguesa {
    display: none;
}

.navBar__enlaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.navBar__enlaces--desplegable {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: end;
}

.navBar__item {
    color: var(--blanco-neutro);
    text-decoration: none;
}

/*--- HEADER ---*/
.header {
    background-color: var(--blanco-neutro);
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-template-rows: repeat(2, 150px);
    color: var(--negro);
}

.header__figura {
    grid-column: 1/2;
    grid-row: 1/3;
}

.header__imagen {
    float: right;
    max-height: 300px;
    height: 100%;
    border-left: 30px solid var(--secundario);
}

.titulo {
    grid-column: 2 / 3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 5%;
}

.header__parrafo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 2% 5%;
}

.fondo--naranja {
    display: inline;
    background-color: var(--secundario);
    color: var(--negro);
}

/*--- MAIN ---*/
.main {
    background-color: var(--principal-oscuro);
    color: var(--blanco-neutro);
    display: grid;
    grid-template-columns: 35% auto;
    grid-auto-rows: auto;
}

.educacion {
    grid-column: 1;
    grid-row: 1/3;
    background-color: var(--principal);
    padding: 20% 10% 10% 10%;
}

.principal {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding: 10% 5% 0% 5%;
}

.pasatiempos {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    padding: 0% 5% 5% 5%;
}

/*--- MAIN educacion ---*/
.mostrar--hover:hover {
    color: var(--blanco-oscuro);
    cursor: pointer;
}

.d-oculto {
    display: none;
}

.d-mostrar {
    display: block;
}

.diploma__img {
    width: 100%;
    border-radius: 5px;
}

.dos--columnas {
    display: inline-block;
    width: 49%;
}

.estrellas {
    display: inline;
    color: var(--blanco-oscuro);
}

.estrella--naranja {
    color: var(--secundario);
}

/*--- MAIN exp laboral ---*/
.exp--laboral__empresa {
    display: inline;
}

.parrafo--opaco {
    color: var(--blanco-oscuro);
}

/*--- MAIN pasatiempos ---*/
.pasatiempos__enlace {
    color: var(--secundario);
}

.borde--blanco {
    border: 2px solid var(--blanco-neutro);
}

/*--- FOOTER ---*/
.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1% 0%;
}

.no--link {
    text-decoration: none;
    color: var(--principal-oscuro);

    display: flex;
    align-items: center;
    gap: 10px;
}

.texto--naranja:hover {
    color: var(--secundario);
}

@media screen and (max-width: 1100px) {
    .header {
        grid-template-rows: 150px auto;
    }
}

@media screen and (max-width: 768px) {
    .educacion {
        grid-column: 1/-1;
        grid-row: 1;
        padding-top: 10%;
    }

    .principal {
        grid-column: 1/-1;
        grid-row: 2;
        padding: 10%;
    }

    .pasatiempos {
        grid-column: 1/-1;
        grid-row: 3;
        padding: 10%;
        background-color: var(--principal);
    }

    .footer__label {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.5rem;
        display: inline;
        position: sticky;
        top: 10px;
    }

    .header {
        grid-template-columns: 35% 1fr;
        grid-template-rows: 150px;
    }

    .header__figura {
        grid-row: 1/2;
    }

    .header__parrafo {
        display: none;
    }

    .titulo {
        padding-bottom: 5%;
    }

    .navBar {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .navBar__menu-hamburguesa {
        display: block;
        color: var(--blanco-neutro);
    }

    .navBar__enlaces {
        display: none;
        margin-top: 20px;
    }

    .navBar__enlaces--desplegable {
        display: flex;
        flex-direction: column;
        text-align: right;
        align-items: end;
    }
}

@media screen and (max-width: 400px) {
    .header__imagen {
        float: left;
        border-left: none;
    }
}