:root {
    --principal: #08415C;
    --principal-oscuro: #123343;
    --secundario: #F66B0E;
    --blanco-neutro: #EEE5E9;
    --blanco-oscuro: #6B818C;
    --negro: #262626;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: url('fonts/Averia_Serif_Libre/AveriaSerifLibre-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Averia Serif Libre";
}

.fondo--naranja {
    display: inline;
    background-color: var(--secundario);
    color: var(--negro);
}

hr {
    border: 2px solid var(--secundario);
}

/*--- HEADER ---*/
.header {
    background-color: var(--blanco-neutro);
    display: grid;
    grid-template-columns: 35% auto;
    grid-template-rows: auto;
    min-height: 300px;
    color: var(--negro);
}

.header__figura {
    grid-column: 1;
    grid-row: 1 / 3;
}

.header__imagen {
    max-height: 300px;
    max-width: 250px;
    width: 90%;
    float: right;
    border-left: 30px solid var(--secundario);
}

.titulo {
    grid-column: 2 / 3;
    grid-row: 1;
    padding: 10% 5% 0% 5%;
}

.header__parrafo {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0% 5%;
}

/*--- MAIN ---*/
.main {
    background-color: var(--principal-oscuro);
    color: var(--blanco-neutro);
    display: grid;
    grid-template-columns: 35% auto;
    grid-auto-rows: auto;
}

.educacion {
    grid-column: 1;
    grid-row: 1/3;
    background-color: var(--principal);
    padding: 20% 10% 10% 10%;
}

.principal {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    padding: 10% 5% 0% 5%;
}

.pasatiempos {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
    padding: 0% 5% 5% 5%;
}

/*--- MAIN educacion ---*/
.dos--columnas {
    display: inline-block;
    width: 49%;
}

.estrellas {
    display: inline;
    color: var(--blanco-oscuro);
}

.estrella--naranja {
    color: var(--secundario);
}

/*--- MAIN exp laboral ---*/
.exp--laboral__empresa {
    display: inline;
}

.parrafo--opaco {
    color: var(--blanco-oscuro);
}

/*--- MAIN pasatiempos ---*/
.pasatiempos__enlace {
    color: var(--secundario);
}

.borde--blanco {
    border: 2px solid var(--blanco-neutro);
}

/*--- FOOTER ---*/
.footer {
    display: flex;
    justify-content: space-around;
    padding: 1% 0%;
}

.footer__logo {
    filter: grayscale(100%);
    width: 40px;
}

.no--link {
    text-decoration: none;
    color: var(--negro);
}

@media screen and (max-width: 768px) {
    .educacion {
        grid-column: 1/-1;
        grid-row: 1;
        padding-top: 10%;
    }

    .principal {
        grid-column: 1/-1;
        grid-row: 2;
        padding: 10%;
    }

    .pasatiempos {
        grid-column: 1/-1;
        grid-row: 3;
        padding: 10%;
        background-color: var(--principal);
    }

    .footer__label {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .header__figura {
        grid-row: 1;
    }

    .header__parrafo {
        grid-column: 1 / 3;
        grid-row: 2;
        padding-top: 5%;
    }
}